img {
    height: 300px;
    width: 300px;
}

p, ol, ul {
    width: 600px;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1, h2, h3, h4 {
    text-align: center;
}

* {
    margin: auto;
    justify-content: center;
    margin-top: 20px;
}